[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
requests = "*"
happier = "*"

[packages]
orjson = "*"
httpx = "*"
graphkit = "*"
asyncio-nats-client = "*"
pydantic = "*"

[requires]
python_version = "3.8"

[scripts]
server = "pipenv run uvicorn --port=8002 --reload compgraph.main:app"
check = "mypy ."
test = "python -m pytest"

[pipenv]
allow_prereleases = true
